<%= nested_form_for @question do |f| %>

  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label t('questions.title'), :class => 'control-label'%>
    <div class="controls">
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label t('questions.text'), :class => 'control-label'%>
    <div class="controls">
      <%= f.text_area :text %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.check_box :many_answers %>
      <%= f.label t('questions.many_answers'), :class => 'control-label'%>
    </div>
  </div>


  <!-- Ответы -->
  <p>
  <%= f.fields_for :answers do |answer| %>
    <%= answer.text_field :text %>
    <%= answer.link_to_remove "[x]" %>
  <% end %>
  <%= f.link_to_add t('questions.add_answer'), :answers %>
  </p>


  <div class="control-group">
    <div class="controls">
      <%= f.submit t('questions.create_button') %>
    </div>
  </div>

<% end %>