
<ul class="breadcrumb">
  <li><a href="/">Главная</a> <span class="divider">/</span></li>
  <li><a href="/questions">Опросы</a> <span class="divider">/</span></li>
  <li class="active">Опрос #<%= @question.id %></li>
</ul>

<h2><%= @question.title %></h2>
<p><i><%= @question.text %></i></p>

<!-- Варианты ответов url: answer_question_path -->
<%= form_for @question, url: answer_question_path do |f| %>

	<% @question.answers.each do |question_answer| %>

		<%= f.fields_for :answers, question_answer do |answer| %>

			<!-- Если уже отвечал, то результаты, иначе - варианты -->
			<% unless @answered %>

				
				<% if !@question.many_answers  %>
					<label class="radio">
						<%= answer.radio_button :text, :selected %> <%= question_answer.text %>
					</label>
				<% else %>
					<label class="checkbox">
					<%= answer.check_box :text %> <%= question_answer.text %>
					</label>
				<% end %>

			<% end %>
			
		<% end %>

	<% end %>

	<% if @answered %>
		<div class="chartdiv">
	  	<%= pie_chart chart_question_path, height: "200px", library: { backgroundColor: "#F5F6F7" } %>
		</div>
	<% else %>
		<br><%= f.submit "Голосовать", class: "btn btn-primary btn-small" %>
	<% end %>

<% end %>

