<h1>Опрос #<%= @question.id %></h1>
<h3><%= @question.title %></h3>
<p><i><%= @question.text %></i></p>

<!-- Варианты ответов url: answer_question_path -->
<%= form_for @question, url: answer_question_path do |f| %>

	<% @question.answers.each do |question_answer| %>

		<%= f.fields_for :answers, question_answer do |answer| %>

			<!-- Если уже отвечал, то результаты, иначе - варианты -->
			<% unless @answered %>

				<% if !@question.many_answers  %>
					<%= answer.radio_button :text, :selected %>
				<% else %>
					<%= answer.check_box :text %>
				<% end %>
				<%= answer.label question_answer.text %><br>

			<% end %>
			
		<% end %>

	<% end %>

	<% if @answered %>
		<div class="chartdiv">
	  	<%= pie_chart chart_question_path, height: "200px", library: { backgroundColor: "#F5F6F7" } %>
		</div>
	<% else %>
		<%= f.submit "Далее" %>
	<% end %>

<% end %>


<br>
<%= link_to 'Назад', questions_path %>
